/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL  20    // default: 10

#include <dt-bindings/zmk/pointing.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>



/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------
            // |  ESC  |  Q   |  W   |  E   |  R   |  T   |   Y   |  U    |  I   |  O   |   P   | BSPC  |
            // |  TAB  |  A   |  S   |  D   |  F   |  G   |   H   |  J    |  K   |  L   |   ;   |  '    |
            // | CTRL  |  Z   |  X   |  C   |  V   |  B   |   N   |  M    |  ,   |  .   |   /   | LGUI  |
            // |       |      |      | LOWR | LSHFT| ENTER|  ALT  | SPACE | RAIS |      |       |       |


            bindings = <
                &kp ESC     &kp Q    &kp W    &kp E    &kp R      &kp T       
                &kp TAB     &kp A    &kp S    &kp D    &kp F      &kp G       
                &kp LCTRL   &kp Z    &kp X    &kp C    &kp V      &kp B       
                                              &mo 1    &kp LSHFT  &kp ENTER   
            >;
        };

        lower_layer {
            // -------------------------------------------------------------------------------------------
            // |   ~   |  !   |  @   |  #   |  $   |  %   |   ^   |   &   |  *   |  (   |   )   |  DEL  |
            // |       |  1   |  2   |  3   |  4   |  5   |   -   |   =   |  +   |  {   |   }   |   |   |
            // |       |  6   |  7   |  8   |  9   |  10  |   _   | LS(#) |LS(|) |      |       |       |
            // |       |      |      |      |      |      |       |       |      |      |       |       |
            bindings = <
                &kp TILDE  &kp EXCL  &kp AT   &kp HASH &kp DLLR  &kp PRCNT    
                &trans     &kp N1    &kp N2   &kp N3   &kp N4    &kp N5       
                &trans     &kp N6    &kp N7   &kp N8   &kp N9    &kp N0       
                                              &trans   &trans    &trans       
            >;
        };

    };
};
